body {
  background: #929292;
  font-family: "Helvetica Neue";
  margin: auto;
  width: 1280px;
  font-size: .75em;
}

h1, h2, p, ul { 
  color: #ffdd00;
  margin: 0;
  text-transform: capitalize;
}

h1 { 
  font-size: 3em;
  line-height: 115%;
  font-weight: bolder;
  margin-bottom: 20px;
}

h2 { 
  font-size: 1.5em;
  color: #fff;
}

h3 {
  font-size: 3em;
  color: #fff;
  font-style: italic;
  margin: 0;
}

a {
  color: #8bbf36;
}

a:not(:hover) {
  text-decoration: none;
}

ul { font-size: 40px; }

.stack {
  font-family: 'Roboto', sans-serif;
  background: #2b2b2b;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  display: none;
  font-size: 48px;
  height: 800px;
  padding: 40px 80px;
  width: 1280px;
  -webkit-transform: translate3d(0,0,0);
}

.stack::after {
  content: "";
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#me h2 {
  text-transform: none;
}

#me::after {
  background: url(../images/tea-reflection-bw.png) no-repeat 0 0;
  background-size: cover;
  opacity: 0.2;
}

#ntu::after {
  background: url(../images/ntu.png) no-repeat 50% 50%;
  background-size: 65%;
  opacity: 1;
  background-color: #fff;
}

#paris::after {
  background: url(../images/paris.gif) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#build::after {
  background: url(../images/tools.png) no-repeat center center;
  background-size: cover;
  opacity: 1;
}

#pandr::after {
  background: url(../images/pandr.jpg) no-repeat 0 0;
  opacity: 1;
}

#tfof::after {
  background: url(../images/405.jpg) no-repeat 0 0;
  opacity: 1;
}

#bakeoff::after {
  /*background: url(../images/bakeoff.jpg) no-repeat 0 0;*/
  background: url(../images/bakeoff/bakeoff-collage.png) no-repeat center center;
  background-size: auto 94%;
  opacity: 1;
}

#taggart::after {
  background: url(../images/taggart-screenshot.jpg) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#lifespan::after {
  background: url(../images/lifespan.png) no-repeat center center;
  background-size: auto 90%;
  background-color: #fff;
  opacity: 1;
}

#rakkit::after {
  background: url(../images/rakkit-screenshot.jpg) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#investor::after {
  background: url(../images/cash-2.gif) no-repeat 0 0;
  background-size: cover;
  opacity: 0.8;
}

#idea::after {
  background: url(../images/cat-1.gif) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#prototype::after {
  background: url(../images/cat-2.gif) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#kiss::after {
  background: url(../images/kiss.jpg) no-repeat 0 0;
  background-size: cover;
}

#cat-urling::after {
  background: url(../images/cat-3.gif) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#pingle::after {
  background: url(../images/pingle.jpg) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#pingle-marketing::after {
  background: url(../images/pingle-marketing.jpg) no-repeat center center;
  background-size: auto 98%;
  opacity: 1;
  background-color: #fff;
}

#betaLessonOne::after {
  background: url(../images/bad-beta-email.png) no-repeat center center fixed;
  opacity: 1;
  background-color: #343e48;
}

#pingleLesson::after {
  background: url(../images/guys.gif) no-repeat center center fixed;
  background-size: cover;
  opacity: 1;
}

#coffee h1 {
  margin-top: 100px;
  font-size: 1.8em;
  text-transform: none;
}

#akin::after {
  background: url(../images/akin.png) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#akin-screenshot::after {
  background: url(../images/akin-v2.png) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#akin-screenshot2::after {
  background: url(../images/akin-search-v2.png) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#akin-screenshot3::after {
  background: url(../images/akin-results-v2.png) no-repeat center center;
  background-size: auto 95% ;
  opacity: 1;
}

#akinLesson::after {
  background: url(../images/facebook.gif) no-repeat 0 0;
  background-size: cover;
  opacity: 1; 
}

#rugby::after {
  background: url(../images/rugby.jpg) no-repeat 0 0;
  background-size: cover;
  opacity: 1; 
}

#sisu::after {
  background: url(../images/sisu.jpg) no-repeat 50% 50%;
  background-color: #373737;
  opacity: 1;
}

#sisuInstagram::after {
  background: url(../images/sisu-instagram.png) no-repeat 50% 50%;
  background-size: cover;
  /*background-color: #ececec;*/
  opacity: 1;
}

#sisuReddit::after {
  background: url(../images/sisu-reddit.png) no-repeat 50% 50%;
  background-size: 95% auto;
  background-color: #ececec;
  opacity: 1;
}

#sisu-screenshot::after {
  background: url(../images/sisu-screenshot.png) no-repeat 0 0;
  background-size: cover;
  background-color: #fefefe;
  opacity: 1;
}

#sisu-clocked::after {
  background: url(../images/sisu-clocked-pair.png) no-repeat 50% 50%;
  background-size: auto 90%;
  background-color: #fefefe;
  opacity: 1;
}

#sisu-zwift::after {
  background: url(../images/sisu-zwift.jpg) no-repeat center center;
  background-size: 100% auto;
  opacity: 1; 
}

#sisu-gift::after {
  background: url(../images/sisu-gift.gif) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

#sisu-marathons::after {
  background: url(../images/sisu-marathons.png) no-repeat 50% 50%;
  background-size: auto 98%;
  background-color: #303030;
  opacity: 1;
}

#upstate h1 {
  text-transform: none;
}

#upstate::after {
  background: url(../images/upstate.jpg) no-repeat 0 0;
  background-size: cover;
  opacity: 0.7;
}

#seamso::after {
  background: url(../images/seamso-logo.svg) no-repeat 50% 50%;
  background-size: 60%;
  background-color: #fefefe;
  opacity: 1;
}

#seamso-screenshot h1 {
  color: #fff;
  font-size: 2em;
  margin-left: -40px;
}

#seamso-screenshot::after {
  background: url(../images/seamso-screenshots.png) no-repeat center bottom;
  background-size: 100% auto;
  background-color: #f56237;
  opacity: 1;
}

#seamso-screenshot2::after {
  background: url(../images/seamso-screenshot.png) no-repeat 0 0;
  background-size: cover;
  background-color: #fefefe;
  opacity: 1;
}

#seamso-learn::after {
  background: url(../images/seamso-lesson.gif) no-repeat center center;
  background-size: cover;
  opacity: 1;
}

#skills::after {
  background: url(../images/skills.gif) no-repeat 0 0;
  background-size: cover;
  opacity: 0.5;
}

#twitter::after {
  background: url(../images/twitter-logo.png) no-repeat center center;
  background-size: 40% auto;
  background-color: #fefefe;
  opacity: 1;
}

#buildingAudience::after {
  background: url(../images/audience.jpg) no-repeat center center;
  background-size: cover;
  opacity: 1; 
}

#lmn::after {
  background: url(../images/lmn.gif) no-repeat center center;
  background-size: cover;
  opacity: 1;
}

#lmnEmail::after {
  background: url(../images/lmn-email.png) no-repeat center center;
  background-size: 95% auto;
  opacity: 1;
  background-color: #fff;
}

#seamsoAudience {
  background-color: #fefefe;
}

#seamsoAudience ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  font-size: 0.63em;
  line-height: 135%;
  color: #fb4246;
}

#seamsoAudience ul li {
  margin: 0;
  padding: 0;
  width: 30%;
  margin: 0 4%;
  display: inline-block;
}

#seamsoAudience ul li:nth-child(3n+1),
#seamsoAudience ul li:nth-child(3n+3) {
  margin: 0;
}


.x-small h1 {
  font-size: 2em;
}

.smaller h1 {
  font-size: 3.2em;
}

.smaller h2 {
  font-size: 2em;
}

.large h1 {
  font-size: 4em;
}

.x-large h1 {
  font-size: 5em;
}

.curling.special {
  text-align: left;
}

.italic {
  font-style: italic;
}

.active {
  box-shadow: 0px 4px 8px rgba(0,0,0,.5);
  display: block;
  position: fixed;
}

.grey {
  color: #969696;
}

@media
screen and (max-device-width: 1024px) {
  body {
    width: 1200px;
  }

  .stack {
    margin: 40px 0;
  }

  .stack {
    display: block;
  }
}
